<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.project.trashgo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GO-TRASH"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu.MenuRongsok"></activity>
        <activity android:name=".menu.JemputOrderan" />
        <activity android:name=".menu.JemputSampah" />
        <activity android:name=".menu.Tentang" />
        <activity android:name=".menu.PetaInformasi" />
        <activity android:name=".admin.TambahMitra" />
        <activity android:name=".MainActivity" />
        <activity android:name=".menu.MenuUtama" />
        <activity
            android:name=".user.Register"
            android:label="Daftar" />
        <activity
            android:name=".user.Login"
            android:label="Login" />
        <activity android:name=".menu.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>